@page "/"
@inject HttpClient client

<style>
    .form-container {
        margin-bottom: 20px;
    }

    .form-label {
        display: block;
        margin-bottom: 5px;
    }

    .form-input {
        width: 200px;
        padding: 5px;
        margin-bottom: 10px;
    }

    .form-button {
        padding: 5px 10px;
        background-color: #007bff;
        color: #fff;
        border: none;
        cursor: pointer;
    }

    .car-details {
        margin-top: 20px;
    }
</style>

@if (adding)
{
    <form @onsubmit="AddProfile" class="form-container">
        <label class="form-label">Profile Id</label>
        <input @bind="NewProfile.Id" class="form-input" />
        <label class="form-label">Name</label>
        <input @bind="NewProfile.PName" class="form-input" />
        <label class="form-label">BirthDate</label>
        <input type="datetime-local" @bind="NewProfile.BirthDate" class="form-input" />
        <label class="form-label">Address</label>
        <input @bind="NewProfile.PAddress" class="form-input" />
        <label class="form-label">Contact Number</label>
        <input @bind="NewProfile.ContactNumber" class="form-input" />
        <label class="form-label">Civil Status</label>
        <input @bind="NewProfile.CivilStatus" class="form-input" />
        <label class="form-label">Hobby</label>
        <input @bind="NewProfile.Hobby" class="form-input" />

        <button type="submit" class="form-button">Add Profile</button>
    </form>

}
else
{
    @if (editting)
    {
        <form @onsubmit="Update" class="form-container">
            <label class="form-label">Profile Id</label>
            <input @bind="profile.Id" class="form-input" />
            <label class="form-label">Name</label>
            <input @bind="profile.PName" class="form-input" />
            <label class="form-label">BirthDate</label>
            <input type="datetime-local" @bind="profile.BirthDate" class="form-input" />
            <label class="form-label">Address</label>
            <input @bind="profile.PAddress" class="form-input" />
            <label class="form-label">Contact Number</label>
            <input @bind="profile.ContactNumber" class="form-input" />
            <label class="form-label">Civil Status</label>
            <input @bind="profile.CivilStatus" class="form-input" />
            <label class="form-label">Hobby</label>
            <input @bind="profile.Hobby" class="form-input" />
            <button class="form-button">Update Profile</button>
        </form>
    }
    else
    {
        <form @onsubmit="GetProfile" class="form-container">
            <label class="form-label">Search ID</label>
            <input type="text" @bind="Id" class="form-input" />
            <button type="submit" class="form-button">Search</button>
        </form>
        <span role="button" @onclick="Edit" class="form-button">Edit</span>
        <span role="button" @onclick="Delete" class="form-button">Delete</span>
        <span role="button" @onclick="New" class="form-button">Add Car</span>
        <div class="car-details">
            @if (profile != null)
            {
                <label class="form-label">Profile Id</label>
                <span>@(profile.Id ?? "N/A")</span>
                <label class="form-label">Name</label>
                <span>@(profile.PName ?? "N/A")</span>
                <label class="form-label">BirthDate</label>
                <span>@(profile.BirthDate != DateTime.MinValue ? profile.BirthDate.ToString("yyyy-MM-dd") : "N/A")</span>
                <label class="form-label">Address</label>
                <span>@(profile.PAddress ?? "N/A")</span>
                <label class="form-label">ContactNumber</label>
                <span>@(profile.ContactNumber != 0 ? profile.ContactNumber.ToString() : "N/A")</span>
                <label class="form-label">CivilStatus</label>
                <span>@(profile.CivilStatus ?? "N/A")</span>
                <label class="form-label">Hobby</label>
                <span>@(profile.Hobby ?? "N/A")</span>

            }
        </div>
    }
}





@code {
#nullable disable
    private Profile NewProfile = new Profile();
    private Profile profile;
    private bool adding = false;
    private bool editting = false;
    private string Id;


    private async Task Update()
    {
        var con = await client.PatchAsJsonAsync($"/api/Profile/Update/{Id}", profile);
        if (con.IsSuccessStatusCode)
        {
            Cancel();
        }
    }
    private async Task AddProfile()
    {
        var con = await client.PostAsJsonAsync("/api/Profile/AddProfile", NewProfile);
        if (con.IsSuccessStatusCode)
        {
            Cancel();
        }

    }
    private void New()
    {
        adding = true;
    }

    private void Cancel()
    {
        adding = false;
        editting = false;
    }
    private void Edit()
    {
        editting = true;
    }

    private async Task Delete()
    {
        var con = await client.DeleteAsync($"/api/Profile/Delete/{Id}");
        if (con.IsSuccessStatusCode)
        {
            profile = new Profile();
        }

    }
    private async Task GetProfile()
    {
        var con = await client.GetAsync($"/api/Profile/Get/{Id}");
        if (con.IsSuccessStatusCode)
        {
            profile = await con.Content.ReadFromJsonAsync<Profile>();
        }
    }
}